@model IEnumerable<CloudPayments.Models.ProductViewModel>


<ul class="list-unstyled">
    @foreach (var product in ViewData.Model)
    {
        <li class="media">
            <img src="@product.ImagePath" class="img-thumbnail img-responsive" alt="@product.Title"
                 style="height: auto; width: auto; max-width: 80px; max-height: 80px;">
            <div class="media-body">
                <h5 class="">@product.Title</h5>
                <p>@product.Price @product.Currency</p>
                <button type="button" class="btn btn-primary btn-lg active" onclick="selectProduct(@product.Id, @product.Price, '@product.Currency')">Выбрать</button>
            </div>
        </li>
    }
</ul>
<h1 id="total-price"></h1>
<button type="button" class="btn btn-primary btn-lg active" onclick="pay(totalPrice, 'RUB')">Выбрать</button>


@section Scripts
    {
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
    <script>
        this.pay = function (totalPrice, currency) {
            var payments = new cp.CloudPayments();
            var invoice = Math.random() * Math.floor(100000);
            payments.charge({ // options
                publicId: 'test_api_00000000000000000000001',
                description: 'Оплата товаров в example.com',
                amount: totalPrice,
                currency: currency,
                invoiceId: invoice,
                accountId: 'user@example.com',
                data: {
                    myProp: 'myProp value' + invoice
                }
            },
                function (options) { // success
                    alert("Ok");
                },
                function (reason, options) { // fail
                    console.log(reason);
                });
        };
        //
    </script>
    <script>
        var selectedProducts = {};
        var totalPrice = 0;
        function selectProduct(id, price, currency) {
            if (id in selectedProducts) delete selectedProducts[id];
            else {
                selectedProducts[id] = { price: price, currency: currency };
            }
            totalPrice = 0;
            for (var i in selectedProducts) {
                if (selectedProducts.hasOwnProperty(i)) {
                    totalPrice += selectedProducts[i].price;
                }
            }
            $("#total-price").html(totalPrice + " currency");
        }
    </script>
}
