@model IEnumerable<CloudPayments.Models.Product>


<h2>title</h2>
<a asp-action="Create" class="navbar-brand">Добавить</a>

<table class="table">
    <tbody>
    @foreach (var product in ViewData.Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>
                <img src="/images/@product.ImageName" class="img-thumbnail img-responsive" alt="@product.ImageName" 
                     style="height: auto; width: auto; max-width: 80px; max-height: 80px;">
            </td>
            <td>@product.Title</td>
            <td>@product.Price</td>
            <td>@product.Currency</td>
            <td><a asp-route-id="@product.Id" asp-action="Edit">Редактировать</a></td>
            <td><a asp-route-id="@product.Id" asp-action="Delete">Удалить</a></td>
        </tr>
    }
    </tbody>
</table>
